[submodule "firmware/prototype/lib/DS18B20"]
	path = firmware/prototype/lib/DS18B20
	url = https://github.com/matmunk/DS18B20
[submodule "firmware/prototype/lib/OneWire"]
	path = firmware/prototype/lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "firmware/prototype/lib/SparkFun_Indoor_Air_Quality_Sensor-ENS160_Arduino_Library"]
	path = firmware/prototype/lib/SparkFun_Indoor_Air_Quality_Sensor-ENS160_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_Indoor_Air_Quality_Sensor-ENS160_Arduino_Library
[submodule "firmware/prototype/lib/SparkFun_BME280_Arduino_Library"]
	path = firmware/prototype/lib/SparkFun_BME280_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_BME280_Arduino_Library
[submodule "firmware/prototype/lib/sensor-kit-libraries"]
	path = firmware/prototype/lib/sensor-kit-libraries
	url = https://github.com/cryoskills/sensor-kit-libraries/
[submodule "firmware/prototype/lib/ZeroPowerManager"]
	path = firmware/prototype/lib/ZeroPowerManager
	url = https://github.com/ee-quipment/ZeroPowerManager

[submodule "firmware/datalogger-2024/lib/ZeroPowerManager"]
	path = firmware/datalogger-2024/lib/ZeroPowerManager
	url = https://github.com/ee-quipment/ZeroPowerManager/
[submodule "firmware/datalogger-2024/lib/INA3221"]
	path = firmware/datalogger-2024/lib/INA3221
	url = https://github.com/cryoskills/INA3221
[submodule "firmware/datalogger-2024/lib/OneWire"]
	path = firmware/datalogger-2024/lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "firmware/datalogger-2024/lib/DS18B20"]
	path = firmware/datalogger-2024/lib/DS18B20
	url = https://github.com/matmunk/DS18B20
[submodule "firmware/datalogger-2024/lib/RadioHead"]
	path = firmware/datalogger-2024/lib/RadioHead
	url = https://github.com/PaulStoffregen/RadioHead
